Source: nvmetcli
Section: python
Priority: optional
Maintainer: Christoph Hellwig <hch@lst.de>
Build-Depends:
 debhelper (>= 9),
 debhelper (>= 9.20160709) | dh-systemd,
 debhelper (>= 9.20160403~) | dh-autoreconf,
 dh-python,
 python3,
 python3-setuptools,
 python3-nose2
Standards-Version: 3.9.4

Package: nvmetcli
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-configshell-fb, python3-pip
Description: Command line interface for the kernel NVMe target
 This package contains the command line interface to the NVMe over Fabrics
 target in the Linux kernel.  It allows configuring the target interactively
 as well as saving / restoring the configuration to / from a json file.
